@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
* {
  box-sizing: border-box; }

body nav .brand-logo {
  left: 25%;
  font-size: 2em;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fafafa; }
  body nav .brand-logo svg {
    width: 35px;
    height: auto;
    position: relative;
    top: 8px;
    left: -5px; }
  body nav .brand-logo span {
    font-weight: 700; }
body nav a.button-collapse i {
  padding-left: 5px; }
body nav ul form .no-padding ul li {
  padding: 0; }
  body nav ul form .no-padding ul li .dropdown-button {
    background-color: #fafafa;
    font-size: 1.25em;
    font-family: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #2F363B;
    text-transform: none; }
    body nav ul form .no-padding ul li .dropdown-button:hover {
      background-color: #ededed; }
  body nav ul form .no-padding ul li .dropdown-content li {
    padding-top: 5px;
    padding-bottom: 5px; }
  body nav ul form .no-padding ul li .collapsible-header {
    margin: 0; }
    body nav ul form .no-padding ul li .collapsible-header i {
      float: none;
      width: 1rem;
      font-size: 1em;
      display: inline; }
  body nav ul form .no-padding ul li #time-body ul li .input-field input {
    font-size: 1em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #2F363B;
    padding-left: 3rem; }
  body nav ul form .no-padding ul li #time-body ul li input.timePicker:focus {
    border-bottom: 1px solid #4A2999; }
body nav ul form #search {
  font-size: 1em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fafafa;
  margin-top: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #4A2999; }
body #contentWrapper .container .row .video-title {
  margin-top: 15px;
  min-height: 40px;
  padding: 10px;
  width: 66%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 1em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #2F363B;
  float: left; }
body #contentWrapper .container .row .timeframe-title {
  margin-top: 15px;
  min-height: 40px;
  padding: 10px;
  width: 33%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 1em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #2F363B;
  display: inline-block;
  margin-left: 1%; }
body #contentWrapper .container .row #videoListId li {
  font-size: 1em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #2F363B;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid solid #ededed;
  border-bottom: 1px solid #ededed; }
  body #contentWrapper .container .row #videoListId li:hover {
    background-color: #fafafa; }

@media screen and (max-width: 992px) {
  body nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }

/*# sourceMappingURL=main.css.map */
