<div class="e-container" ng-controller='mloginController' >
 <div class="e-name">
   Users Log in
 </div>
 <hr class="e-lineb">
 <form class="sms-login">
     <input class='sms-input' type="text" name="username" placeholder="username" ng-model='username'><br>
     <input class='sms-input' type="password" name="psw" placeholder="password" ng-model='password'>
     <button class='sms-button' type="button" name="button" ng-click='jump()'>Log In</button>
     <a href="#/home"><button class='sms-button' type="button" name="button">Back</button></a>
 </form>
</div>
