<div class="side_wrapper">
  <section class="about-dev">
    <header class="profile-card_header">
      <div class="profile-card_header-container">
        <div class="profile-card_header-imgbox">
          <img src="http://placekitten.com/600/900" alt="Mewy Pawpins" />
        </div>
        <h1>Trump</h1>
      </div>
    </header>
    <div class="profile-card_about">
      <p>Phone: {{}}</p>
      <p>Email: {{}}</p>
      <p>Address: {{}}</p>
      <br>
      <p><a class="back-to-profile" href="#">Edit Your Profile</a></p>
      </footer>
    </div>
  </section>
</div>
